/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');

/* Color Pallette (For Reference Only) */
.color-pallette {
    color: #ffd54f; /* Primary */
    color: #ffff81; /* Primary Light */
    color: #c8a415; /* Primary Dark */
    color: #fff59d; /* Secondary */
    color: #ffffcf; /* Secondary Light */
    color: #cbc26d; /* Secondary Dark */
    color: #558b2f; /* Primary Text */
    color: #00897b; /* Header Text */
}

body {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    font-weight: 700;
    color: #558b2f;
    background-color: #ffffcf;
}
nav, .page-footer {
    background-color: #ffd54f;
}
nav ul a {
    font-size: 1.75rem;
    font-weight: 900;
}
.page-footer {
    font-size: 1.2rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Permanent Marker', cursive;
    color: #00897b;
}