{% extends "base.html" %}
{% block content %}
    <!--Gets various fields for the existing recipe-->
    <form method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
        <div class="row">
            <div class="col s12">
                <div class="center col s8">
                    <h1>Edit {{ recipe.recipe_name }}</h1>
                </div>
                <div class="col s4 right">
                    <button id="edit_btn_top" class="col s7 offset-s5 m5 offset-m1 waves-effect waves-light btn-large amber darken-1" type="submit"><i class="fas fa-save"></i> <span class="hide-on-med-and-down">Save Edits</span></button>
                    <a id="back_btn" href="#confirm_back" class="col s7 offset-s5 m5 offset-m1 right waves-effect waves-light btn-large grey lighten-1 modal-trigger"><i class="fas fa-arrow-alt-circle-left"></i> <span class="hide-on-med-and-down">Back</span></a>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col s12 center">
                <p class="form_tips">Use the form below to edit an existing recipe! Click the add buttons to add new rows into the relevant sections. If you decide you want to remove an entry just delete the content of the form input and leave it blank, we'll take care of the rest!</p>
            </div>
        </div>
        <!--Recipe Name-->
        <div class="row">
            <div class="col s12 center">
                <h1 class="input-field center"><input class="center" id="recipe_name" name="recipe_name" type="text" value="{{ recipe.recipe_name }}" required>
                <label class="center" for="recipe_name">Recipe Name</label></h1>
            </div>
        </div>
        <!--Recipe Image-->
        <div class="row">
            <div class="col s12 l6">
                <div class="row">
                    <div class="input-field col s12 l6 center">
                        <input class="center" id="image_url" name="image_url" type="url" value="
                        {% if recipe.image_url != '../static/images/recipe_img_pholder.png' %}
                            {{ recipe.image_url }}
                        {% endif %}">
                        <label for="image_url">Recipe Image URL</label>
                        <p class="form_tips">We recommend using a free stock photo website such as <a href="https://www.pexels.com/" target="_blank"> Pexels</a>. Right click an image, "Copy image address", then paste it in here!</p>
                    </div>
                    <div class="input-field col s12 l6 center">
                        <input class="center" id="image_description" name="image_description" type="text" value="{{ recipe.image_description }}">
                        <label for="image_description">Recipe Image Description</label>
                        <p class="form_tips">Provide a short description of the image you have chosen.</p>
                    </div>
                    <img id="image_preview" class="recipe_image" src="{{ recipe.image_url }}" alt="{{ recipe.image_description }}">
                </div>
            </div>
            <!--Recipe Classification and Origin-->
            <div class="col s12 l6">
                <div class="row">
                <!--Recipe Description-->
                    <div class="input-field col s12 center">
                        <h5>Description</h5>
                        <textarea class="materialize-textarea center" id="description" name="description">{{- recipe.description -}}</textarea>
                        <label for="description">Recipe Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 m4">
                        <h5 class="right">Classification:</h5>
                    </div>
                    <div class="input-field col s6 m8">
                        <select id="classify" name="classify">
                            <option value="{{ recipe.classification }}" selected>{{ recipe.classification.capitalize() }}</option>
                            <option value=""></option>
                        {% for class in classification %}
                            <!--Ignores the currently chosen class to prevent option duplication-->
                            {% if class.class_name != recipe.classification %}
                                <option value="{{ class.class_name }}">{{ class.class_name.capitalize() }}</option>
                            {% endif %}
                        {% endfor %}
                            <label for="classify">Recipe Classification</label>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 m4">
                        <h5 class="right">Region of Origin:</h5>
                    </div>
                    <div class="input-field col s6 m8">
                        <select id="origin" name="origin">
                            <option value="{{ recipe.region_of_origin }}" selected>{{ recipe.region_of_origin.capitalize() }}</option>
                            <option value=""></option>
                        {% for region in origin %}
                            <!--Ignores the currently chosen origin to prevent option duplication-->
                            {% if region.origin != recipe.region_of_origin %}
                                <option value="{{ region.origin }}">{{ region.origin.capitalize() }}</option>
                            {% endif %}
                        {% endfor %}
                            <label for="origin">Recipe Origin</label>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 m4">
                        <h5 class="right">Shared With:</h5>
                    </div>
                    <div name="sharing" id="sharing" class="input-field col s6 m8">
                        <!--Based on guidance provided on Stack Overflow posted by Patrick José Pereira April 6th 2018 regarding setting variables-->
                        {% set i = namespace(value=0) %}
                        {% for shared in recipe.shared_with %}
                            {% set i.value = i.value + 1 %}
                            {% if shared == session.wft_user[0] %}
                                <input class="center shared_with add_share" id="shared_with{{ i.value }}" name="shared_with{{ i.value }}" type="text" value="{{ shared }}" readonly>
                                <label for="shared_with{{ i.value }}">Shared With</label>
                            {% else %}
                                <input class="center shared_with add_share" id="shared_with{{ i.value }}" name="shared_with{{ i.value }}" type="text" value="{{ shared }}">
                                <label for="shared_with{{ i.value }}">Shared With</label>
                            {% endif %}
                        {% endfor %}
                        <button id="button{{ i.value }}" type="button" class="hoverable right btn-floating btn-small waves-effect waves-light red"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!--Recipe Ingredients and Method-->
        <div class="row">
            <div id="ingredients_list" class="col s12 l4">
                <h5 class="center">Ingredients</h5>
                <p class="form_tips center">Enter the quantities required for 1 person</p>
                <!--Based on guidance provided on Stack Overflow posted by Patrick José Pereira April 6th 2018-->
                {% set i = namespace(value=0) %}
                {% for ingredient in recipe.ingredients %}
                    {% set i.value = i.value + 1 %}
                    <div class="row">
                        <div class="input-field col s6">
                            <input class="center add_ingredient" id="ingredient_name{{ i.value }}" name="ingredient_name{{ i.value }}" type="text" value="{{ ingredient.ingredient }}">
                            <label for="ingredient_name{{ i.value }}">Ingredient</label>
                        </div>
                        <div class="input-field col s3">
                            <input class="center" id="ingredient_quantity{{ i.value }}" name="ingredient_quantity{{ i.value }}" type="number" step="0.01" value="{{ ingredient.quantity }}">
                            <label for="ingredient_quantity{{ i.value }}">Quantity</label>
                        </div>
                        <div class="input-field col s3">
                            <select class="center" id="ingredient_unit{{ i.value }}" name="ingredient_unit{{ i.value }}">
                                <option value="{{ ingredient.unit }}" selected>{{ ingredient.unit.capitalize() }}</option>
                                <option value=""></option>
                                <!--Ignores the currently chosen unit to prevent option duplication-->
                                {% if ingredient.unit != "grams" %}
                                    <option value="grams">Grams</option>
                                {% endif %}
                                {% if ingredient.unit != "ml" %}
                                    <option value="ml">ml</option>
                                {% endif %}
                                {% if ingredient.unit != "quantity" %}
                                    <option value="quantity">Quantity</option>
                                {% endif %}
                                <label for="ingredient_unit{{ i.value }}">Unit</label>
                            </select>
                        </div>
                    </div>
                {% endfor %}
                <button id="ing_button{{ i.value }}" type="button" class="hoverable btn-floating btn-small waves-effect waves-light red"><i class="fas fa-plus"></i></button>
            </div>
            <div id="step_list" class="col s12 l8">
                <h5 class="center">Method</h5>
                {% set i = namespace(value=0) %}
                {% for step in recipe.method %}
                    {% set i.value = i.value + 1 %}
                    <div class="row">
                        <div class="col s1">
                            <p class="step-no">{{ i.value }}.</p>
                        </div>
                        <div class="col s11 input-field">
                            <input class="center add_step" id="step{{ i.value }}" name="step{{ i.value }}" type="text" value="{{ step }}">
                            <label for="step1">Step</label>
                        </div>
                    </div>
                {% endfor %}
                <button id="step_button{{ i.value }}" type="button" class="hoverable right btn-floating btn-small waves-effect waves-light red"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="row">
            <button id="edit_btn"
                class="col s10 m4 l2 offset-s1 offset-m4 offset-l5 waves-effect waves-light btn-large amber darken-1"
                type="submit"><i class="fas fa-save"></i> Save Edits</button>
        </div>
    </form>
    <!-- Modal Confirm Back -->
    <div id="confirm_back" class="modal">
        <div class="modal-content">
            <h4>Cancel Edits for {{ recipe.recipe_name }}</h4>
            <p>Are you sure you want to cancel edits for {{ recipe.recipe_name }}?</p>
            <div class="row">
                <a id="back_confirm_btn" class="col s4 offset-s1 waves-effect waves-light btn-large red lighten-1" href="{{ url_for('recipe_view', recipe_id=recipe._id) }}">Yes</a>
                <a id="return_to_edit_btn" href="#!" class="col s4 offset-s2 modal-close waves-effect waves-light btn-large grey lighten-1">No</a>
            </div>
        </div>
    </div>
{% endblock %}