{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12 center">
        <h1>Weekly Menus</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="center-align">
            <h4 id="create_menu_header">Create a new menu</h4>
        </div>
        <div class="col center-align">
            <p>
                To create a menu use the form below. Select a year and a month and click "Get Weeks" which populates the weeks dropdown box. 
            </p>
            <p>
                When options are available in the weeks dropdown, select the week commencing you desire to create a menu for and click the create button.
            </p> 
        </div>
        <div>
            <form method="POST" action="{{ url_for('weekly_menus') }}">
                <div class="input-field col s6 m4">
                    <!--Enters the current year as the default option-->
                    <input class="center" id="year_select" name="year_select" type="number" value="{{ year }}" required>
                    <label for="year_select">Year</label>
                </div>
                <div class="input-field col s6 m4">
                    <!--Sets the current month as the default option-->
                    {% set month_id = month %}
                    <select class="center" id="month_select" name="month_select" size="12" required>
                        <option value="{{ month }}" selected>{{ month_name }}</option>
                        <option value="1">January {% set month_id = 1 %}</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <label for="month_select">Month</label>
                </div>
                <div class="col s6 m4">
                    <!--When this button is pressed the year and month is sent to the routing method and if the week_select has no valid week selected
                                    then it refreshes the page but has obtained weeks to select.-->
                    <button id="get_weeks_btn" class="col s12 waves-effect waves-light btn-large amber darken-1"
                        type="submit"><i class="fas fa-calendar-week"></i> Get Weeks</button>
                </div>
                <div class="row">
                    <div class="input-field center col s6 m8">
                        {% set i = namespace(value=0) %}
                        <select class="center" id="week_select" name="week_select" size="7" required>
                            <option value="no weeks" selected>Weeks</option>
                            <!--If the week begins in another month the week is ignored.-->
                            {% for week in cal %}
                            {% if week.0 == 0 %}
                            <!--If the week begins in the month then the first item is used to show an option to the user.-->
                            {% else %}
                            <option value="{{ i.value }}">
                                W/C:-
                                {%- if week.0 == 1 -%}
                                {{- week.0 -}}st
                                {% elif week.0 == 2 -%}
                                {{- week.0 -}}nd
                                {% elif week.0 == 3 -%}
                                {{- week.0 -}}rd
                                {% else -%}
                                {{- week.0 -}}th
                                {%- endif -%}
                            </option>
                            {% endif %}
                            {% set i.value = i.value + 1 %}
                            {% endfor %}
                        </select>
                        <label for="week_select">Week</label>
                    </div>
                    <div class="col s12 m4 center">
                        <button id="create_btn" class="col s12 waves-effect waves-light btn-large green lighten-1" type="submit"><i class="fas fa-plus-circle"></i> Create</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col center-align">
            <p>
                Click the dated rows below to expand them and reveal the seven randomly selected recipes from your recipe collection for that week. 
                Click the recipes to see more information about that recipe.
            </p>
        </div>
    </div>
</div>
    <div class="row">
        <ul class="collapsible">
           <li>
            <!--If no plans are found at all-->
            {% if plans|length == 0 %}
                <div class="collapsible-header center"><h5 class="col s12 red-text text-darken-1">No Menus Found</h5></div>
            {% endif %}
            </li>
            <!--If plans are found-->
            {% if plans|length > 0 %}
            <!--K is used to set unique ids on elements-->
            {% set k = namespace(value=0) %}
            {% for plan in plans %}
            <!--If plans are found that the user is the owner of-->
            {% if session.wft_user[0] == plan.owner %}
            <li>
                <div class="collapsible-header center">
                    <div class="col s8 m10 center">
                        <h5 class="col s12">Week Commencing {{ plan.days[0] }}/{{ plan.month }}/{{ plan.year }}</h5>
                    </div>
                    <div class="col s4 m2">
                    <!--If the user is the plan owner then delete button is available-->
                    {% if session["wft_user"][0] == plan.owner %}
                        <a id="delete_btn{{ k.value }}" class="col s6 l12 right waves-effect waves-light btn-large red lighten-1 modal-trigger" href="#confirm_delete{{ k.value }}"><i class="fas fa-trash-alt hide-on-large-only"></i> <span class="hide-on-med-and-down">Delete</span></a>
                    {% endif %}
                    </div>
                </div>
                <!-- Modal Confirm Delete -->
                <div id="confirm_delete{{ k.value }}" class="modal">
                    <div class="modal-content">
                        <h4>Delete {{ plan.days[0] }}/{{ plan.month }}/{{ plan.year }} Menu</h4>
                        <p>Are you sure you want to delete This Menu from your collection?</p>
                        <div class="row">
                            <a id="delete_confirm_btn{{ k.value }}" class="col s4 offset-s1 waves-effect waves-light btn-large red lighten-1"
                                href="{{ url_for('delete_plan', plan_id=plan._id,) }}">Delete</a>
                            <a id="back_btn{{ k.value }}" href="#!"
                                class="col s4 offset-s2 modal-close waves-effect waves-light btn-large grey lighten-1">Back</a>
                        </div>
                    </div>
                </div>
                <div class="collapsible-body row">
                <!--J is used to get the correct day string-->
                {% set j = namespace(value=0) %}
                {% for meal in plan.meals %}
                    {% for recipe in recipes %}
                        {% if recipe._id == meal._id %}
                            <div class="col s6 m4 l3 left">
                                <div class="card hoverable weekly_plan_card">
                                    <a href="{{ url_for('recipe_view', recipe_id=recipe._id) }}">
                                        <div class="col s12 center">
                                            <h5>{% if j.value == 0 %}
                                                    Monday
                                                {% elif j.value == 1 %}
                                                    Tuesday
                                                {% elif j.value == 2 %}
                                                    Wednesday
                                                {% elif j.value == 3 %}
                                                    Thursday
                                                {% elif j.value == 4 %}
                                                    Friday
                                                {% elif j.value == 5 %}
                                                    Saturday
                                                {% elif j.value == 6 %}
                                                    Sunday
                                                {% endif %}
                                            </h5>
                                        </div>
                                        <div class="card-image">
                                            <img src="{{ recipe.image_url }}" alt="{{ recipe.image_description }}">
                                        </div>
                                        <div class="card-content">
                                            <h5 class="card-title">{{ recipe.recipe_name.capitalize() }}</h5>
                                            <div class="row">
                                                <div class="col s12 center">
                                                    <h6>Class:</h6>
                                                    <strong>{{ recipe.classification.capitalize() }}</strong>
                                                </div>
                                                <div class="col s12 center">
                                                    <h6>Origin:</h6>
                                                    <strong>{{ recipe.region_of_origin.capitalize() }}</strong>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col m12 hide-on-med-and-down center">
                                                    <p>{{ recipe.description.capitalize() }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% set j.value = j.value + 1 %}
                    {% set k.value = k.value + 1 %}
                {% endfor %}
                </div>
            </li>
            {% endif %}
            {% endfor %}
            <!--If K has not incremented this indicates no menus found for the user, so show user error message-->
            {% if k.value < 1 %}
                <div class="collapsible-header center"><h5 class="col s12 red-text text-darken-1">No Menus Found</h5></div>
            {% endif %}
            {% endif %}
        </ul>
    </div>
{% endblock %}